body{
    background: black;
    color: lime;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
button {
    cursor: pointer;
    background-color: #4CAF50;  /* Normal color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: 0.3s;  /* Smooth change ke liye */
}

button:hover {
    cursor: pointer;        /* Hand wala emoji aa jayega */
    background-color: #45a049;  /* Lightly dark ho jayega */
    transform: scale(1.05);     /* Thoda bada bhi hoga - optional */
}